.head{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    display: flex;
    justify-content: center;
    margin: 20px ;
    text-decoration: underline;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    border:2px solid black ;
    border-radius: 15px;
}

.fa{
    color:rgb(96, 62, 49);
}

.card-body{
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.quote{
    font-size: 30px ;
    color: #000000;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box-part{
    background-color: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(51, 72, 86);
}

.box-part1{
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(92, 159, 204);
}
.box-part2{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(139, 164, 181);
}
.box-part3{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(119, 214, 236);
}
.box-part4{
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(229, 245, 177);
}
.box-part5{
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(211, 149, 220);
}
.box-part6{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(95, 185, 245);
}
.box-part7{
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(229, 121, 121);
}
.box-part8{
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(241, 149, 246);
}

.box-part9{
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(129, 236, 144);
}

.box-part10{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(240, 232, 153);
}

.box-part11{
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(142, 240, 129);
}

.box-part12{
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(158, 106, 242);
}

.box-part13{
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(118, 239, 243);
}

.box-part14{
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
    margin: 25px 20px 25px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 8px 10px 5px rgb(236, 209, 118);
}

